<nav>
  <!-- Write paths relative to the root directory. The JS will automatically add '../' or './' based on what page the user is viewing. -->
  <a href="../index.html" class="nav-logo">
    <img src="https://i.ibb.co.com/VYRrnKt1/20260417-104731.png" alt="SSIA Logo" class="nav-logo-image">
  </a>
  <ul class="nav-links">
    <li><a href="../index.html#about">Mission</a></li>
    <li><a href="https://tenstudiosbc.itch.io/ssia-vanguard-chronicles" class="external-link">Download <span class="arrow">↗</span></a></li>
    <li><a href="../Pages/characters.html">Agents</a></li>
    <li><a href="../index.html#banners">Events</a></li>
    <li><a href="../Pages/teambuilder.html">Builder</a></li>
    <li><a href="https://discord.gg/WVDQyFVNnX" target="_blank" class="discord external-link">Discord <span class="arrow">↗</span></a></li>
  </ul>
</nav>
